.hero-container{
    color:#fff;

    background: rgb(124, 181, 255);
    .action-row{
        text-align:right;
        a{
            text-decoration: none;
            font-weight: bold;
            color:inherit;
            display: block;
            padding: 10px;
        }
    }
    .title{
        padding-top:50px;
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        
    }
    .hero-image{
        height:400px;
        display:flex;
        align-items: center;
        justify-content: center;
        img{
            height:250px;
            width: 250px;

        }
    }

}
.nav-container{
    background: rgb(20, 20, 20);
    padding: 10px;
    .logo{
        display:inline-block;
        vertical-align: middle;
        img{
            height:30px;
            width:auto;
        }
    }
    nav{
        display:inline-block;
        vertical-align: middle;
        margin-left: 50px;
        ul{
            margin:0;
            padding:0;
            li{
                display:inline-block;
                a{
                    color:white;
                    text-decoration: none;
                    margin: 10px 20px;
                    &.active{
                       text-decoration: underline;
                    }
                }
            }
        }
    }
}