<div class="hero-container">
  <div class = "action-row">
    <a [routerLink]="[ '/about']">About Us</a>
  </div>
  <div class = "title">
    BlogOps
  </div>
  <div class = "hero-image">
    <img src = "assets/images/HERO.svg">
  </div>
</div>

<div class="nav-container">
  <div class="logo">
    <img src="/assets/images/placeholder.jpg">

  </div>
  <nav>
    <ul>
      <li>
        <a [routerLink]="[ '/' ]" routerLinkActive="active">HOME</a>
      </li>
      <li>
        <a [routerLink]="['/contact']" routerLinkActive="active">CONTACT</a>
      </li>
    </ul>
  </nav>
</div>