<div class="hero-container">
  <div class = "action-row">
    <a [routerLink]="[ '/about']">About Us</a>
  </div>
  <div class = "title">
    BlogOps
  </div>
  <div class = "hero-image">
    <img src = "assets/images/HERO.svg">
  </div>
</div>

<div class="nav-container">
   <nav>
    <ul>
      <li *ngFor="let item of menu">
        <a [routerLink]="[ item.link ]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        >{{item.label}}</a>
      </li>
    </ul>
  </nav>
</div>